<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matplotlib Graph on PythonAnywhere</title>
</head>
<body>
    <h1>Wordle Patterns and Counts for the year 2026</h1>
    <p>Working on more ways to explore. Please visit frequently to check for updates</p>
    <a href="https://github.com/lalitha2019/wordle_web_project">Backend code for webscraping, parsing and preparing data</a>
    <p></p>
    <form action="/show_counts" method="POST">
        <label for="letter_name">Please enter an UPPER CASE letter:</label>
        <input type="text" pattern=[A-Z] id="letter_name" name="letter_name" required>
        <button type="submit">Show counts</button>
    </form>

    <form action="/get_dates" method="POST">
        <button type="submit">Click here to pick start and end date</button>
    </form>

    <div class="graph-container">
        <img src="data:image/png;base64,{{ plot_var }}" alt="Matplotlib Graph">
    </div>

</body>
</html>
